*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.box-header{

    background-image: linear-gradient(to bottom,#92b1cc, #ebe7e0 );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

.navigation{

    width: 100%;
    background-color: #ebe7e0;
    padding: auto;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0,192);
    text-align: center;
    display: flex;
    justify-content: space-around;
}

main{
    display: block;
    min-width: 300px;
    max-width: 1000px;
    background-color: #ebe7e0;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0px 0px 10px #a19c9c;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .box-principal{
    display: block;
    text-align: center;
    border-bottom:  solid 2px #000;
    padding: 20px;

}


.box-principal h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 35, 34);
    font-weight: bold;
    font-size: 3em;
    text-align: center;

}

    .box-principal h2 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(3, 35, 34);
        font-weight: bold;
        font-size: 2em;
        text-align: center;

    }

    main .box-trabalho-atual{

        display: block;
    text-align: center;
    border-bottom:  solid 2px #000;
    padding: 20px;
    }

    .box-trabalho-atual h1 {
        color: rgb(223, 37, 37);
        font-size: 2em;
        padding-bottom: 15px;
        text-align: center;
    }
    
    .box-trabalho-atual h2 {
        color: #000;
        font-size: 2em;
        padding-bottom: 15px;
        text-align: center;
    }
    
    .box-trabalho-atual p {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.7em;
    }

    main .box-metas-profissionais {
        display: block;
        text-align: center;
        border-bottom:  solid 2px #000;
        padding: 20px;
    }
    
    .box-metas-profissionais h1 {
        color: rgb(223, 37, 37);
        font-size: 2em;
        padding-bottom: 15px;
    }
    
    .box-metas-profissionais img {
        max-width: 500px;
        box-shadow: 0px 0px 20px #443636;
    }
    
    .box-metas-profissionais p {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.7em;
    }
    
    .box-footer {
        width: 100%;
        padding: 50px;
        background-color:#aeadc0;
        text-align: center;
    }
    
    .box-footer h2 {
        color: #000;
        font-size: 1.5em;
    }








